@font-face {
    font-family: 'psychofont';
    src: url('grafika/font/FAFERS.TTF');
}

.kontak{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 10px;
    
}

.tlacitko{
    
    text-align: center;   
    width: 220px;
    height: 120px;
    margin: auto;

}


#img_prihlasit {
   background-image: url('grafika/tlacitka/prihlasit/prihlasit.png');
}

#img_prihlasit:hover {
    background-image: url('grafika/tlacitka/prihlasit/prihlasit_hoverl.png');
        background-size: 280px 110px;
    height: 110px;
    width: 280px;
}
#img_registrovat {
    background-image: url('grafika/tlacitka/registrovat/registrovat.png');
 }
 
 #img_registrovat:hover {
    background-image: url('grafika/tlacitka/registrovat/registrovat_hover2.png');
 }

 #img_archiv {
    background-image: url('grafika/tlacitka/archiv/archiv.png');
 }
 
 #img_archiv:hover {
     background-image: url('grafika/tlacitka/archiv/archiv_hover.png');
 }

 #img_profil {
    background-image: url('grafika/tlacitka/profil/profil.png');
 }
 
 #img_profil:hover {
     background-image: url('grafika/tlacitka/profil/profil_hover.png');
 }

 #img_odhlasit {
    background-image: url('grafika/tlacitka/odhlasit/odhlasit.png');
 }
 
 #img_odhlasit:hover {
     background-image: url('grafika/tlacitka/odhlasit/odhlasit_hover.png');
 }

  #img_nahrat_clanek {
    background-image: url('grafika/tlacitka/nahrat_clanek/nahrat_clanek.png');
 }
 
 #img_nahrat_clanek:hover {
     background-image: url('grafika/tlacitka/nahrat_clanek/nahrat_clanek_hover.png');
 }

#img_nahrat_clanek {
    background-image: url('grafika/tlacitka/nahrat_clanek/nahrat_clanek.png');
 }
 
 #img_nahrat_clanek:hover {
     background-image: url('grafika/tlacitka/nahrat_clanek/nahrat_clanek_hover.png');
 }

 #img_odeslat {
    background-image: url('grafika/tlacitka/odeslat/odeslat.png');
 }
 
 #img_odeslat:hover {
     background-image: url('grafika/tlacitka/odeslat/odeslat_hover.png');
 }

#img_potvrdit {
    background-image: url('grafika/tlacitka/potvrdit/potvrdit.png');
 }

 #img_potvrdit:hover {
     background-image: url('grafika/tlacitka/potvrdit/potvrdit_hover.png');
 }

 #img_prehled_clanku {
    background-image: url('grafika/tlacitka/prehled_clanku/prehled_clanku.png');
 }

 #img_prehled_clanku:hover {
     background-image: url('grafika/tlacitka/prehled_clanku/prehled_clanku_hover.png');
 }

  #img_prehled_uzivatelu {
    background-image: url('grafika/tlacitka/prehled_uzivatelu/prehled_uzivatelu.png');
 }

 #img_prehled_uzivatelu:hover {
     background-image: url('grafika/tlacitka/prehled_uzivatelu/prehled_uzivatelu_hover.png');
 }

 #img_prirazeni_clanku_recenzentum {
    background-image: url('grafika/tlacitka/prirazeni_clanku_recenzentum/prirazeni_clanku_recenzentum.png');
 }

 #img_prirazeni_clanku_recenzentum:hover {
     background-image: url('grafika/tlacitka/prirazeni_clanku_recenzentum/prirazeni_clanku_recenzentum_hover.png');
 }

 #img_sprava_odvolani {
    background-image: url('grafika/tlacitka/sprava_odvolani/sprava_odvolani.png');
 }

 #img_sprava_odvolani:hover {
     background-image: url('grafika/tlacitka/sprava_odvolani/sprava_odvolani_hover.png');
 }

 #img_stav_clanku {
    background-image: url('grafika/tlacitka/stav_clanku/stav_clanku.png');
 }

 #img_stav_clanku:hover {
     background-image: url('grafika/tlacitka/stav_clanku/stav_clanku_hover.png');
 }

  #img_upravit_profil {
    background-image: url('grafika/tlacitka/upravit_profil/upravit_profil.png');
 }

 #img_upravit_profil:hover {
     background-image: url('grafika/tlacitka/upravit_profil/upravit_profil_hover.png');
 }

  #img_vytvorit_recenzi {
    background-image: url('grafika/tlacitka/vytvorit_recenzi/vytvorit_recenzi.png');
 }

 #img_vytvorit_recenzi:hover {
     background-image: url('grafika/tlacitka/vytvorit_recenzi/vytvorit_recenzi_hover.png');
 }

  #img_zadost_o_recenzenta {
    background-image: url('grafika/tlacitka/zadost_o_recenzenta/zadost_o_recenzenta.png');
 }

 #img_zadost_o_recenzenta:hover {
     background-image: url('grafika/tlacitka/zadost_o_recenzenta/zadost_o_recenzenta_hover.png');
 }

  #img_zrusit {
    background-image: url('grafika/tlacitka/zrusit/zrusit.png');
 }

 #img_zrusit:hover {
     background-image: url('grafika/tlacitka/zrusit/zrusit_hover.png');
 }

 #img_podrobnosti {
    background-image: url('grafika/tlacitka/podrobnosti/podrobnosti.png');
 }

 #img_podrobnosti:hover {
     background-image: url('grafika/tlacitka/podrobnosti/podrobnosti_hover.png');
 }

  #img_podrobnosti_clanku {
    background-image: url('grafika/tlacitka/podrobnosti/podrobnosti.png');
 }

  #img_podrobnosti_clanku:hover {
     background-image: url('grafika/tlacitka/podrobnosti/podrobnosti_hover2.png');
 }

#img_zpet {
    background-image: url('grafika/tlacitka/zpet/zpet.png');
 }

 #img_zpet:hover {
     background-image: url('grafika/tlacitka/zpet/zpet_hover.png');
 }

 #img_vytvorit_recenzenta {
    background-image: url('grafika/tlacitka/vytvorit_recenzenta/vytvorit_recenzenta.png');
 }

 #img_vytvorit_recenzenta:hover {
     background-image: url('grafika/tlacitka/vytvorit_recenzenta/vytvorit_recenzenta_hover.png');
 }

  #img_vypracovane_recenze {
    background-image: url('grafika/tlacitka/vypracovane_recenze/vypracovane_recenze.png');
 }

 #img_vypracovane_recenze:hover {
     background-image: url('grafika/tlacitka/vypracovane_recenze/vypracovane_recenze_hover.png');
 }

 #img_vytvorit_nove_cislo {
  background-image: url('grafika/tlacitka/vytvorit_nove_cislo/vytvorit_nove_cislo.png');
}

#img_vytvorit_nove_cislo:hover {
   background-image: url('grafika/tlacitka/vytvorit_nove_cislo/vytvorit_nove_cislo_hover.png');
}

#img_nahlasit {
  background-image: url('grafika/tlacitka/nahlasit/nahlasit.png');
}

#img_nahlasit:hover {
   background-image: url('grafika/tlacitka/nahlasit/nahlasit_hover.png');
}

.img_tlacitka{
    background-size: 250px 90px;
    height: 90px;
    width: 250px;
}
.img_tlacitka:hover{
    background-size: 250px 90px;
    height: 90px;
    width: 250px;
}

body{
    background-image: linear-gradient(3deg, #98E05F, #0DE3AC);
    background-attachment: fixed;
    
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin:0;
   padding:0;
   height:100%;
}

/**PROFIL.PHP**/

.obsah {
   min-height:100%;
   height: 100%;
   position:relative;
}

.hlavicka {
   padding:10px;
  
}

.telo {
   padding:10px;
      /* Height of the footer */
}

.paticka {
    text-align: center;
   position: relative;
   top: 8%;
   width:100%;
   height:90px;   /* Height of the footer */
   font-family: 'psychofont';
}

.karta_autor_container {
    text-align: center;  
    max-height: 400px;
 
}

.karta_jmeno{ 
  position: relative;
  top: -310px;
  left: 150px;
    font-size: 30px;
    font-family: 'psychofont';
}

.karta_prijmeni{
    position: relative;
  top: -290px;
  left: 160px;
    font-size: 30px;
    font-family: 'psychofont';
}

.karta_email{
    position: relative;
  top: -270px;
  left: 160px;
    font-size: 20px;
    font-family: 'psychofont';
}

.karta_datum_reg{
    position: relative;
  top: -240px;
  left: 172px;
    font-size: 17px;
    font-family: 'psychofont';
}

.karta_vydanych_clanku{
    position: relative;
  top: -205px;
  left: -160px;
    font-size: 40px;
    font-family: 'psychofont';
}

.karta_pocet_recenzi{
    position: relative;
  top: -202px;
  left: 70px;
    font-size: 40px;
    font-family: 'psychofont';
}

.karta_avatar{
    position: relative;
    top: -440px;
    left: -164px;  
}

.karta_avatar_v2{
    position: relative;
    top: -395px;
    left: -164px;  
}


/**NAHRANI_CLANKU.PHP**/

.btn_odeslat_form{
  border: none;
  background-color:
  transparent;
  background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.nahrani_clanku_kontos{
    text-align: center;
    padding-top: 2%;
    max-height: 550px;

}

.vybrat_soubor_nazev{
    position: relative;
    top: -340px;
    left: 50px;
    font-family: 'psychofont';
    
}

.nahrani_clanku_nazev{
    position: relative;
    top: -406px;
    left: 40px;

}

.vyber_cisla{
    position: relative;
    top: -380px;
    left: 145px;
}

input[type="Název"]
{
    background: transparent;
    border: none;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-family: 'psychofont';
}

#cars{
    font-family: 'psychofont';
    width: 340px;
    height: 40px;
    font-size: 30px;
    border: 0;
}

input[type="file"]
{
    font-size: 16px;
    font-family: 'psychofont';
}



/**STAV_CLANKU.PHP**/

.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: lightgray;
    margin: 25px 0;
    font-size: 35px;
    font-family: 'psychofont';
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


/**REGISTRACE_RECENZENTA.PHP**/
.class_registrace_recenzenta{
  text-align: center;
}


.class_registrace_recenzenta_jmeno{
  position: relative; 
  top: -225px;
  left: -20px;
}

.class_registrace_recenzenta_prijmeni{
position: relative;
  top: -162px;
  left: -22px;
}

.class_registrace_recenzenta_email{
position: relative;
  top: -100px;
  left: -20px;
}

.input_reg_rec
{
  background: none;
    background-color: none;
    border: none;
    text-align: center;
    font-size: 20px;
    font-family: 'psychofont';
}

.input_reg_rec::placeholder
{
    color: black;
}

/**PRIHLASENI.PHP**/

.class_kontak_prihlaseni{
  text-align: center;
  max-height: 560px;
}

.prihlaseni_email{
  position: relative;
  top: -300px;
  left: 40px;
}

.prihlaseni_heslo{
  position: relative;
  top: -240px;
  left: 40px;
}

.prihlaseni_input{
  background: none;
  height: 50px;
  width: 450px;
    background-color: none;
    border: none;
    text-align: center;
    font-size: 30px;
    font-family: 'psychofont';
}

.prihlaseni_input::placeholder{
 color: black;
}

.kontak_prihlaseni{
  display: grid;
    justify-content: space-evenly;
    grid-template-columns:5% 20%;
    grid-gap: 10px;
}

/**REGISTRACE.PHP**/

.input_registrace{
  background: none;
  height: 40px;
  width: 400px;
    background-color: none;
    border: none;
    text-align: center;
    font-size: 30px;
    font-family: 'psychofont';
}

.nahrani_clanku_kontos{
  text-align: center;
}

.registrace_jmeno{
  position: relative;
  top:-390px;
  left: 50px;
}

.registrace_prijmeni{
  position: relative;
  top:-370px;
  left: 50px;
}

.registrace_email{
  position: relative;
  top:-345px;
  left: 50px;
}

.registrace_heslo{
  position: relative;
  top:-315px;
  left: 50px;
}

.registrace_hesloznovu{
  position: relative;
  top:-300px;
  left: 90px;
}

.kontak_registrace{
  display: grid;
    justify-content: center;
    grid-template-columns: 15% 20%;
    grid-gap: 120px;
}

.input_registrace::placeholder{
 color: black;
}

/**UPRAVIT_PROFIL.PHP**/

.upravit_profil_kontos{
    text-align: center;
    padding-top: 2%;
    max-height: 600px;
}

.upravit_profil_jmeno{
  position: relative;
  top: -450px;
  left: 180px;
}

.upravit_profil_prijmeni{
  position: relative;
  top: -440px;
  left: 180px;
  z-index: 1;
}

.upravit_profil_email{
  position: relative;
  top: -415px;
  left: 200px;
}

.upravit_profil_datum{
  position: relative;
  top: -405px;
  left: 195px;
}

.upravit_profil_heslo{
  position: relative;
  top: -355px;
  left: 180px;
}

.upravit_profil_heslo_znovu{
  position: relative;
  top: -335px;
  left: 200px;
}

.upravit_profil_avatar{
  position: relative;
  top: -655px;
  left: -260px;
  
}

.input_upravit_profil{
  background: none;
  height: 40px;
  width: 320px;
    background-color: none;
    border: none;
    text-align: center;
    font-size: 30px;
    font-family: 'psychofont';
}

/**VYTVORENI_CISLA-PHP**/

.vytvoreni_cisla_kontos{
    text-align: center;
    padding-top: 2%;
    max-height: 600px;
}

.vytvoreni_cisla_nazev{
  position: relative;
  top: -400px;
  left: 60px;  
}

.vytvoreni_cisla_pocet_clanku{
  position: relative;
  top: -370px;
  left: 115px;  
}

.vytvoreni_cisla_popis_cisla{
  position: relative;
  top: -330px;
  left: 155px;  
}

.input_vytvoreni_cisla{
  text-align: center;
}

.input_vytvoreni_cisla::placeholder{
  color: black;
}

/**NAHLASENI_RECENZE.PHP**/

.nahlaseni_recenze_kontos{
  text-align: center;
    padding-top: 2%;
    max-height: 600px;
}

.nahlaseni_recenze_nazev{
  position: relative;
  top: -420px;
  left: -50px;
}

.nahlaseni_recenze_text{
  position: relative;
  top: -430px;
}

/**TVORBA_RECENZE.PHP**/

.tvorba_recenze_kontos{
  text-align: center;
    max-height: 800px;
    font-size: 30px;
    font-family: 'psychofont';
}

.tvorba_recenze_nazev_clanku{
  position: relative;
  top: -545px;
  left: -170px;
}

.tvorba_recenze_nazev_cisla{
  position: relative;
  font-size: 25px;
  top: -605px;
  left: 310px;
}

.tvorba_recenze_jmeno_autora{
  position: relative;
  top: -500px;
  left: -10px;
}

.tvorba_recenze_akt_zaj_pri{
  position: relative;
  top: -515px;
  left: 150px;
}

.tvorba_recenze_akt_zaj_pri_slajdr{
  position: relative;
  top: -700px;
  left: 230px;
}

.input_tvorba_recenze{
  width: 130px;
}

.tvorba_recenze_originalita{
  position: relative;
  top: -485px;
  left: -185px;
}

.tvorba_recenze_originalita_slajdr{
  position: relative;
  top: -670px;
  left: -105px;
}

.tvorba_recenze_odborna_uroven{
  position: relative;
  top: -475px;
  left: -120px;
}

.tvorba_recenze_odborna_uroven_slajdr{
   position: relative;
  top: -660px;
  left: -40px;
}

.tvorba_recenze_jazykova{
  position: relative;
  top: -470px;
  left: 105px;
}

.tvorba_recenze_jazykova_slajdr{
  position: relative;
  top: -655px;
  left: 185px;
}

.textak_tvorba_recenze{
  position: relative;
  top: -607px;
  left: 160px;
}

.tvorba_recenze_celkem{
  position: relative;
  top: -560px;
  left: 355px;
}

.zobrazit_clanek{
  color: white;
   font-size: 30px;
    font-family: 'psychofont';
    text-align: center;
    
}

.zobrazit_clanek a{
  color: red;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: left;
}


  #img_zpet{
    background-image: url('grafika/tlacitka/zpet/zpet.png');
  }
 #img_zpet:hover {
     background-image: url('grafika/tlacitka/zpet/zpet_hover.png');
 }

 .img_tlacitka_zpet{
    background-size: 150px 50px;
    height: 50px;
    width: 150px;
}

#uprava_avatar:hover{
  height: 120px;
  width: 120px;
}